/* slider section */
section.slider img{
    width: 100%;
}
 .slider .slider-content{
    display: flex;
    justify-content: column;
    align-items: center;
}
.slider .slider-bullets span{
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    background-color: black;
    border-radius: 50%;
    opacity: 0.5;
    transition: all 1s;
}
.slider .slider-bullets{
    text-align: center;
}
.slider .slider-bullets span:hover{
    opacity: 1;
}